[Unit]
Description=Parsec Service
Documentation=https://parallaxsecond.github.io/parsec-book/parsec_service/install_parsec_linux.html

[Service]
WorkingDirectory=/home/parsec/
ExecStart=/usr/bin/parsec -c /etc/parsec/config.toml
User=parsec
Group=parsec

[Install]
WantedBy=default.target
